.business-name{
  font-family:droid_sansbold; 
  color:#3C586E!important; 
  text-shadow:0 0 10px white, 0 0 20px white;
}
.headline{
  font-family:droid_sansbold; 
  color:white!important; 
  text-shadow:2px 2px .3rem black, 0 0 .2rem black;
}
.imgtext{
  text-shadow:2px 2px .4rem black, 0 0 .2rem black;
}
.footer{
  margin-bottom:0;
  padding-bottom:1em;
  color:#7d868e;
  background-color:#343a40;
}
.nav-contact-info{
  position:absolute; 
  top: .125rem; 
  right:.125rem; 
  color:rgba(255, 255, 255, 0.5); 
  text-align:right; 
  font-size:.75rem;
}
.blurb-header1{
  font-family:droid_sansbold; 
  color:#dd8829!important; 
  text-align: left;
  letter-spacing: -1px;
  margin-bottom: 0px;
}
.blurb-header2{
  font-family:droid_sansbold; 
  font-size: 140%;
  color:#3C586E!important; 
  text-align: left;
  letter-spacing: -1px;
  
}